<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>904919048298-6dip3qls5ka2m5nu6bngpk5j7jfe64qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904919048298-6dip3qls5ka2m5nu6bngpk5j7jfe64qa</string>
	<key>API_KEY</key>
	<string>AIzaSyC1XAbZ3Xe9gzwKtoDhzMOHHWp0uQYP6VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>904919048298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.shinwart.ssctel-firebase</string>
	<key>PROJECT_ID</key>
	<string>ssc-tel</string>
	<key>STORAGE_BUCKET</key>
	<string>ssc-tel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:904919048298:ios:57084b890a5e7df7</string>
	<key>DATABASE_URL</key>
	<string>https://ssc-tel.firebaseio.com</string>
</dict>
</plist>